Repository axjasf/NeverEatAlone: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, frontend-test, backend-test

eslint:
  name: eslint
  entry: cd frontend && npm run lint
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: cd frontend && npm run type-check
  language: system
  pass_filenames: false

frontend-test:
  name: frontend-test
  entry: cd frontend && npm test -- --watchAll=false
  language: system
  pass_filenames: false
  stages:
  - push

backend-test:
  name: backend-test
  entry: cd backend && pytest
  language: system
  pass_filenames: false
  stages:
  - push

ci/fix mypy text import
  .github/workflows/build.yml
  backend/requirements-dev.txt
Due: none

chore: Remove mypy report artifacts from build workflow
  .github/workflows/build.yml
  backend/requirements-dev.txt
Due: none

fix:linting
  backend/app/main.py
Due: backend-test

fix/main.py
  backend/app/main.py
Due: backend-test

fix/flake8
  backend/.flake8
  backend/app/main.py
Due: backend-test

fix/frontend linting
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.ts
  frontend/src/index.tsx
  frontend/src/setupTests.ts
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
Due: eslint, typescript-check, frontend-test

fix/frontend linting
  frontend/src/index.tsx
Due: eslint, typescript-check, frontend-test

ci/sonarqube settings
  .github/workflows/build.yml
Due: none

cl/sonarqube 2
  .github/workflows/build.yml
Due: none

ci/sonqrqube 3
  .github/workflows/build.yml
Due: none

ci/sonarqube 4
  .github/workflows/build.yml
  tests/repositories/test_contact_repository.py
Due: backend-test

ci/sonarqube 5
  .github/workflows/build.yml
Due: none

ci/sonarqube 6
  .github/workflows/build.yml
Due: none

ci/sonarqube 7
  .github/workflows/build.yml
Due: none

ci/sonarqube 8
  .github/workflows/build.yml
Due: none

ci/sonarqube 9 - by example from another project.
  .github/workflows/build.yml
Due: none

ci/sonarqube 10
  .github/workflows/build.yml
  .github/workflows/sonarqube.yml
Due: none

ci/sonarqube 11
  .github/workflows/sonarqube.yml
Due: none

ci/sonarqube 12
  .github/workflows/sonarqube.yml
Due: none

ci/sonarqube merge with pipeline setup
  .github/workflows/build.yml
  .github/workflows/sonarqube.yml
  CI_STABILIZATION_PLAN.md
Due: none

ci/sonarqube even if frontend tests fail
  .github/workflows/build.yml
Due: none

chore/docu reorg
  README.md
  docs/development/ci/CI_STABILIZATION_PLAN.md
  docs/development/guides/CHEATSHEET.md
  docs/development/guides/DEVELOPMENT.md
  docs/environment/ENVIRONMENT.md
Due: none

chore/config reorg
  .github/workflows/build.yml
  backend/config/.flake8
  backend/config/mypy.ini
  backend/pytest.ini
  pytest.ini
  sonar-project.properties
Due: none

chore/settings
  .vscode/settings.json
Due: none

chore/delete unused
  backend/tests/test_main.py
Due: backend-test

chore/moved repo folder to backend/app/repositories
  backend/app/repositories/__init__.py
  backend/app/repositories/interfaces.py
  backend/app/repositories/sqlalchemy_contact_repository.py
  backend/app/repositories/sqlalchemy_note_repository.py
  backend/app/repositories/sqlalchemy_reminder_repository.py
  backend/app/repositories/sqlalchemy_tag_repository.py
Due: backend-test

chore/change repo folder / correct
  backend/app/repositories/sqlalchemy_contact_repository.py
  backend/app/repositories/sqlalchemy_note_repository.py
  backend/app/repositories/sqlalchemy_reminder_repository.py
  backend/app/repositories/sqlalchemy_tag_repository.py
Due: backend-test

chore/move repo to its right location
  backend/app/repositories/sqlalchemy_reminder_repository.py
  tests/repositories/conftest.py
  tests/repositories/test_contact_repository.py
  tests/repositories/test_note_repository.py
  tests/repositories/test_reminder_repository.py
  tests/repositories/test_tag_repository.py
Due: backend-test

feature/initial-template-implementation
  backend/app/models/domain/template.py
  backend/app/models/orm/template.py
  backend/app/repositories/interfaces.py
  backend/app/repositories/sqlalchemy_template_repository.py
  tests/models/conftest.py
  tests/models/orm/test_template.py
  tests/repositories/test_template_repository.py
Due: backend-test

Base -> Base_Model change and functionality update
  backend/app/models/domain/base.py
  backend/app/models/domain/base_model.py
  backend/app/models/domain/tag_model.py
  tests/models/domain/test_base.py
Due: backend-test

chore/lint
  backend/app/repositories/sqlalchemy_template_repository.py
  tests/models/domain/test_base.py
  tests/repositories/test_note_repository.py
Due: backend-test

chore/linting
  backend/app/models/domain/tag_model.py
  backend/app/repositories/sqlalchemy_template_repository.py
  tests/models/domain/test_contact.py
  tests/repositories/test_note_repository.py
Due: backend-test

chore/pylance issues
  tests/models/domain/test_contact.py
  tests/models/orm/test_reminder.py
Due: backend-test

ci/test path and xml report generation
  backend/pytest.ini
  sonar-project.properties
Due: none

ci/fixed report location
  backend/pytest.ini
Due: none

ci/report changes: 1) i want to see which linting is failing 2) i want these results in the workflow summary 3) i want the test to run in any case 4) turn off the frontend tests for now
  .github/workflows/build.yml
Due: none

ci/path fix
  .github/workflows/build.yml
Due: none

ci/test file py
  tests/test_coverage_check.py
Due: backend-test

fix/config pointing to the right subdir
  sonar-project.properties
  tests/test_coverage_check.py
Due: backend-test

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  typescript-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  frontend-test: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  backend-test: any of: \.py$
