Repository axjasf/NeverEatAlone: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, frontend-test, backend-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: check-case-conflict

-   repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    -   id: black
        language_version: python3.10

-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args: ["--profile", "black"]

-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-docstrings',
            'flake8-bugbear',
            'flake8-comprehensions',
            'flake8-simplify',
        ]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
        additional_dependencies: [types-all]

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
    -   id: prettier
        types_or: [javascript, jsx, ts, tsx, css, json]
        additional_dependencies:
            - prettier@2.8.8
            - '@typescript-eslint/eslint-plugin@5.59.7'
            - '@typescript-eslint/parser@5.59.7'

-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: cd frontend && npm run lint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

    -   id: typescript-check
        name: typescript-check
        entry: cd frontend && npm run type-check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

    -   id: frontend-test
        name: frontend-test
        entry: cd frontend && npm test -- --watchAll=false
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
        stages: [push]

    -   id: backend-test
        name: backend-test
        entry: cd backend && pytest
        language: system
        types: [python]
        pass_filenames: false
        stages: [push]

feat: Implement Tag domain model and repository
  backend/app/models/tag.py
  backend/app/repositories/sqlalchemy/tag_repository.py
  tests/models/test_tag.py
  tests/repositories/test_tag_repository.py
Due: backend-test

Add repository test configuration for SQLAlchemy tests
  tests/repositories/conftest.py
Due: backend-test

fix: improve tag repository test reliability
  backend/app/models/tag.py
  tests/repositories/test_tag_repository.py
Due: backend-test

Conf: Repo Conftest update
  tests/repositories/conftest.py
Due: backend-test

fix: Improve Tag model relationships and constraints
  backend/app/models/contact.py
  backend/app/models/note.py
  backend/app/models/tag.py
  backend/app/repositories/sqlalchemy/tag_repository.py
  tests/repositories/test_tag_repository.py
Due: backend-test

chore: Update development dependencies
  backend/requirements-dev.txt
Due: none

test(domain): add comprehensive Tag domain model tests
  backend/app/models/domain/tag.py
  tests/models/domain/test_tag.py
Due: backend-test

test(domain): fix type hints and line length issues
  tests/models/domain/test_contact.py
  tests/models/domain/test_note.py
  tests/models/domain/test_tag.py
Due: backend-test

fix(domain): fix type hints and validation
  backend/app/models/domain/contact.py
  backend/app/models/domain/note.py
Due: backend-test

fix(domain): complete domain model tests and type fixes
  backend/app/models/domain/__init__.py
  backend/app/models/domain/base.py
  tests/models/domain/test_base.py
Due: backend-test

feat(domain): complete domain model implementation
  backend/app/models/base.py
  backend/app/models/contact.py
  backend/app/models/note.py
  backend/app/models/tag.py
  tests/models/test_contact.py
  tests/models/test_notes.py
  tests/models/test_tag.py
Due: backend-test

fix:tag model files
  backend/app/models/domain/tag.py
  backend/app/models/repositories/tag_repository.py
  tests/repositories/test_tag_repository.py
Due: backend-test

chore:Sonar config
  .github/workflows/build.yml
  sonar-project.properties
Due: none

fix:Repository Implementation and Tests
  backend/app/models/repositories/__init__.py
  backend/app/models/repositories/interfaces.py
  backend/app/models/repositories/sqlalchemy_note_repository.py
  backend/app/models/repositories/sqlalchemy_tag_repository.py
  tests/repositories/conftest.py
  tests/repositories/test_contact_repository.py
  tests/repositories/test_note_repository.py
Due: backend-test

fix:Remaining test files.
  .vscode/settings.json
  backend/app/models/domain/note.py
  tests/__init__.py
  tests/models/__init__.py
  tests/models/conftest.py
  tests/models/domain/__init__.py
Due: backend-test

fix:Test Tag ORM
  tests/models/orm/test_tag.py
Due: backend-test

chore:Project cleanup
  .gitignore
  backend/app/migrations/versions/001_add_hashtag_tables.py
  backend/app/migrations/versions/002_add_entity_type_to_hashtags.py
  backend/app/repositories/sqlalchemy/tag_repository.py
Due: backend-test

chore:linting
  backend/app/database.py
  backend/app/main.py
  backend/app/models/domain/__init__.py
  backend/app/models/domain/base.py
  backend/app/models/domain/contact.py
  backend/app/models/domain/note.py
  backend/app/models/domain/tag.py
  backend/app/models/orm/__init__.py
  backend/app/models/orm/base.py
  backend/app/models/orm/contact.py
  backend/app/models/orm/contact_tag.py
  backend/app/models/orm/note.py
  backend/app/models/orm/note_tag.py
  backend/app/models/orm/statement.py
  backend/app/models/orm/statement_tag.py
  backend/app/models/orm/tag.py
  backend/app/models/repositories/__init__.py
  backend/app/models/repositories/interfaces.py
  backend/app/models/repositories/sqlalchemy_note_repository.py
  backend/app/models/repositories/sqlalchemy_tag_repository.py
  tests/api/conftest.py
  tests/api/test_contact_endpoints.py
  tests/conftest.py
  tests/models/conftest.py
  tests/models/domain/test_base.py
  tests/models/domain/test_contact.py
  tests/models/domain/test_note.py
  tests/models/domain/test_tag.py
  tests/models/orm/test_contact.py
  tests/models/orm/test_note.py
  tests/models/orm/test_tag.py
  tests/repositories/conftest.py
  tests/repositories/test_contact_repository.py
  tests/repositories/test_note_repository.py
  tests/repositories/test_tag_repository.py
Due: backend-test

docu: Model Layer
  docs/development/architecture/model_layer_design.md
  docs/implementation/backend/MODEL_LAYER.md
Due: none

docu: Visual in Model Layer Design
  docs/development/architecture/model_layer_design.md
Due: none

chore:Diverse
  sonar-project.properties
Due: none

Chore:Make CICD work
  .github/workflows/build.yml
  frontend/src/index.ts
  frontend/tsconfig.json
Due: eslint, typescript-check, frontend-test

Chore:Set up CICD
  .github/workflows/build.yml
Due: none

Fix: Contact Repo Implementation
  backend/app/models/repositories/sqlalchemy_contact_repository.py
Due: backend-test

Chore:Settings
  .vscode/settings.json
Due: none

chore:reqs
  .vscode/settings.json
  backend/app/main.py
  backend/requirements-dev.txt
  mypy.ini
  pytest.ini
Due: backend-test

Feat:Repo ORM
  backend/app/models/orm/__init__.py
  backend/app/models/orm/contact.py
  backend/app/models/orm/note.py
  backend/app/models/orm/reminder.py
  tests/models/orm/test_reminder.py
Due: backend-test

Refactor:Reminder Model and Tests
  backend/app/models/domain/reminder.py
  tests/models/domain/test_reminder.py
  tests/models/orm/test_reminder.py
  tests/repositories/test_reminder_repository.py
Due: backend-test

fix:CICD
  .github/workflows/build.yml
  .github/workflows/main.yaml
  sonar-project.properties
Due: none

fix:CICD
  .github/workflows/build.yml
  sonar-project.properties
Due: none

fix:CICD
  .github/workflows/build.yml
Due: none

fix:CICD flake8 and build
  .flake8
  .github/workflows/build.yml
Due: none

fix:CICD flake8
  .flake8
Due: none

fix:CICD
  .flake8
  .github/workflows/build.yml
Due: none

Chore:Linting
  backend/app/models/domain/reminder.py
  backend/app/models/orm/__init__.py
  backend/app/models/orm/reminder.py
  backend/app/models/repositories/sqlalchemy_contact_repository.py
  backend/app/models/repositories/sqlalchemy_reminder_repository.py
  tests/models/domain/test_reminder.py
  tests/models/orm/test_reminder.py
  tests/repositories/test_reminder_repository.py
Due: backend-test

fix:CICD and Linting
  .flake8
  .github/workflows/build.yml
  backend/app/main.py
  backend/app/models/domain/reminder.py
  backend/app/models/orm/base.py
  backend/app/models/orm/tag.py
  backend/app/models/repositories/sqlalchemy_reminder_repository.py
  pytest-report.xml
  pytest.ini
Due: backend-test

fix:CICD
  .github/workflows/build.yml
  pytest-report.xml
  pytest.ini
Due: none

rollback:CICD
  .github/workflows/build.yml
  backend/pytest-report.xml
  pytest.ini
Due: none
