Repository axjasf/NeverEatAlone: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, frontend-test, backend-test

eslint:
  name: eslint
  entry: cd frontend && npm run lint
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: cd frontend && npm run type-check
  language: system
  pass_filenames: false

frontend-test:
  name: frontend-test
  entry: cd frontend && npm test -- --watchAll=false
  language: system
  pass_filenames: false
  stages:
  - push

backend-test:
  name: backend-test
  entry: cd backend && pytest
  language: system
  pass_filenames: false
  stages:
  - push

fix:CICD - Streamline GHA build.yml
  .github/workflows/build.yml
Due: none

fix:Pytest.ini
  backend/pytest-report.xml
  pytest.ini
Due: none

Refactor:Remove Endpoint Tests for now
  backend/pytest-report.xml
  tests/api/test_contact_endpoints.py
Due: backend-test

fix:Linting
  backend/app/main.py
  backend/app/models/orm/base.py
Due: backend-test

fix:config
  .gitignore
  tests/models/conftest.py
  tests/repositories/conftest.py
Due: backend-test

fix:CICD isort
  .github/workflows/python-app.yml
  .isort.cfg
Due: none

fix:CICD from first principles
  .flake8
  .github/workflows/build.yml
  .gitignore
  .isort.cfg
  mypy.ini
  pytest.ini
Due: none

fix:CICD remove isort
  .pre-commit-config.yaml
  DEVELOPMENT.md
  backend/requirements-dev.txt
Due: none

fix:CICD remove isort
  .github/workflows/python-app.yml
Due: none

fix:CICD
  .flake8
  .github/workflows/python-app.yml
Due: none

fix:CICD Plan introduction
  CI_STABILIZATION_PLAN.md
Due: none

ci: Phase 1.1 - Consolidate workflows and add local testing
  .github/workflows/build.yml
  CI_STABILIZATION_PLAN.md
  test-workflow.ps1
Due: none

ci: Phase 1.1 - Remove local testing focus and cleanup
  .github/workflows/python-app.yml
  CI_STABILIZATION_PLAN.md
  test-workflow.ps1
Due: none

ci: Fix frontend test coverage configuration
  .github/workflows/build.yml
  frontend/package.json
Due: none

ci: Fix backend test configuration and directory handling
  .github/workflows/build.yml
Due: none

ci: Fix tests directory path in backend workflow
  .github/workflows/build.yml
Due: none

ci: Add required public files for frontend build
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
Due: none

ci: Implement secure environment variable handling
  .env.example
  .github/workflows/build.yml
  ENVIRONMENT.md
Due: none

ci: Enhance environment handling in workflow - Add environment configs, fix variable refs, implement secure secrets
  .github/workflows/build.yml
Due: none

ci: Enhance error handling and logging - Add detailed reporting, improve artifacts, enhance test summaries
  .github/workflows/build.yml
Due: none

ci: Enhance error handling and logging - Add detailed step logging, improve error capture, enhance artifact retention, add TypeScript checking, implement better test reporting
  .github/workflows/build.yml
Due: none

test: Add verification tests for CI error handling
  backend/tests/test_main.py
  frontend/src/App.test.tsx
Due: eslint, typescript-check, frontend-test, backend-test

fix: Resolve MyPy module resolution issues
  .github/workflows/build.yml
  backend/__init__.py
  backend/app/main.py
  backend/mypy.ini
Due: backend-test

fix: Update imports and MyPy configuration
  backend/app/main.py
  backend/mypy.ini
  backend/tests/test_main.py
Due: backend-test

fix:linting
  backend/tests/test_main.py
Due: backend-test

ci: Add proper Flake8 configuration
  backend/.flake8
Due: none

ci/flake8 config - only real errors
  backend/.flake8
Due: none

ci/flak8
  backend/.flake8
Due: none

ci/flake8 and mypy
  .github/workflows/build.yml
  backend/.flake8
Due: none

ci/mypy
  backend/mypy.ini
Due: none

ci/artifcact collectin config
  .github/workflows/build.yml
Due: none

ci/artifact preservation
  .github/workflows/build.yml
  pytest-report.xml
  tests/repositories/test_contact_repository.py
Due: backend-test

ci/verify
  tests/repositories/test_contact_repository.py
Due: backend-test

fix: resolve type issues in main.py - Fix model types and validation
  backend/app/main.py
Due: backend-test

fix:Linting
  .vscode/settings.json
  backend/app/models/domain/contact.py
  backend/app/models/orm/contact.py
  backend/app/models/orm/note.py
Due: backend-test

fix:Black
  backend/app/main.py
Due: backend-test

chore: remove pytest-report.xml from git tracking
  pytest-report.xml
Due: none

fix:main.py linting errors
  backend/app/main.py
Due: backend-test

fix:main.py
  backend/app/main.py
Due: backend-test

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  typescript-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  frontend-test: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  backend-test: any of: \.py$
